<template name="chapter">
    <div class="ui centered one column grid rebook-chapter">
        <div class="ui top attached center aligned header">
            <h1>{{this.name}}</h1>
        </div>
        <article class="column">
            <div class="ui left internal attached rail progress-container">
                <div class="ui sticky">
                    <div class="fader"></div>
                </div>
            </div>
            <div class="ui right internal attached rail progress-container">
                <div class="ui sticky">
                    <div class="fader"></div>
                </div>
            </div>
            {{#each paras this.contents}}
            {{#markdown}}{{this.text}}{{/markdown}}
            {{/each}}
        </article>
    </div>
</template>
