#timeline {
    padding-top: 10px;
    .bar {
        position: relative;
        background-color: #CDCDCD;
        border: solid #f7f7f7 1px;
    }
}

#main {
    font-size: 1.3rem;
}

#preview {
    position:fixed;
    height: 100%;
    overflow:auto;

    .inactive {
        position:fixed;
        width: inherit;
        margin-left: -1em;
        background-color: rgba(0, 0, 0, 0.5);
        &.top {
            top:0;
            bottom: 67%;
        }
        &.bottom {
            bottom:0;
            top: 67%;
        }

    }
}

.right.floated {
    float:right;
}

svg#tAxis {
    position: absolute;
    right: 0;
    width: 35px;

    path.domain {
        fill: none;
        stroke: #000000;
        stroke-width: 1px;
    }
    .tick{
        line {
            stroke: #000000;
            stroke-width: 1px;
        }
    }

}

#gridcontainer {
    position:absolute;
    right:35px;
    left:0;

    svg#gridlines {

        width: 100%;

        .tick{
            line {
                stroke: #000000;
                opacity: 0.3;
                stroke-width: 1px;
            }
        }
    }

}
