#timeline {
    .bar {
        position: relative;
        background-color: #000000;
        border: solid #f7f7f7 1px;
    }
}

#main {
    font-size: 1.3rem;
}

.right.floated {
    float:right;
}
