<template name="library">
	<div class="ui padded page grid library">	
		<div class="sixteen wide column">
			<h1 class="ui dividing header">Library</h1>
			{{#each books}}
			<a class="ui fluid card book" href="{{pathFor route="library.book" data=linkParams}}" style={{spineWidth}}>
				<div class="progress" style={{progressHeight}}></div>
				<div class="content">
					<div class="header">{{ name }}</div>
					<div class="meta">
						<span>Book Author Esq.</span>
						<span>{{formatWordcount}} words</span> 
						<span><em>{{readTime}}</em></span>
					</div>
				</div>
			</a>
			{{/each}}
		</div>
	</div>
</template>