// ************************************
// TYPOGRAPHY VARS & MIXINS
// ************************************
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700,700italic);

@font-base: 22px;
.typewide() {
    max-width: @font-base * 25;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7%;
    padding-right: 7%;
    box-sizing: content-box;
}

// ************************************
// COLORS
// ************************************
@chapter-color: #00cbeb;
@dark-grey: #1e1e1e;
@light-grey: #ebebeb;
@teal: #2F8093;
@orange: #C46328;





// ************************************
// JUNK DRAWER MIXINS
// ************************************
.base-shadow() {
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.5);
}


.rebook-header(){
    font-size: @font-base * 2.25;
    color: #ffffff;
    background-color: @chapter-color;
    margin: 0;
    border: none;
    border-radius: 0;

    h1 {
        font-family: 'PT Sans', sans-serif;
        padding: 3em 1em;
    }

    &.sequence, &.collection {
            background-color: #191919;
            font-size: @font-base * 3.5;
            padding: 2em 1em;
        }
}




#bookHome {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.rebook-page {
    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;

    &:after {
        content: "";
        height: 1000px;
        display: block;
    }
}


.rebook-sequence {
    .ui.header {
        .rebook-header();
    }
}

.rebook-chapter {
    .ui.header {
        .rebook-header();
    }
    article {
        .base-shadow();
        font-family: 'PT Serif', serif;
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
        margin-top: -1rem;
        margin-bottom: 5rem;
        color: @dark-grey;
        background-color: @light-grey;
        position: relative;
        p {
            font-size: @font-base;
            line-height: 1.6;
            .typewide();
        }
        h1,h2,h3,h4,h5,h6,pre {
            .typewide();
        }

        .milemark {
            position: absolute;
            left: 1%;
            width: 5%;
        }

        img.otherTrack {
            max-width: 50%;
        }
    }
}

.rebook-collection {
    .ui.header {
        .rebook-header();
    }

    .rebook-sequence {
        position: relative;
        top: none;
        margin-top: 1em;

        &:after {
            display: none;
        }
    }

    nav.next {
        .base-shadow();
        background-color: #FFF9E5;
        margin: 5rem;
        padding: 2rem;
    }
}


// ************************************
// IN-BOOK MENU
// ************************************

.menuBar {
    .ui.menu {
        background-color: @teal;
        .item {
            // font-size: 1.5rem;
            // color: @light-grey;
        }
    }
}

.ui.sidebar.chapterChart {

    background-color: #fff;

    svg {
        overflow: visible;
    }
    
    .bar {
        rect {
            fill: #c9c9c9;
        }
        text {
            display: none;
        }

        &.read:not(.current) {
            rect {
                fill: #000000;
            }
            
        }

        &.current {
            text {
                display: block;
                fill: #2979FF;
            }
            rect:not(.partial) {
                stroke: #2979FF;
            }
            rect.partial {
                fill: #000000;
            }

        }

    }

    .axis {
        font: 10px sans-serif;
        
        path, line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        &.x {
            path {
                display: none;
            }
        }
    }
}

.pushable {
    .pusher {
        &.readbook {
            &.dimmed {
                -webkit-filter: blur(3px);
                filter: blur(3px);
            }
        }
    }
}




// ************************************
// LIBRARY
// ************************************


.library {
    background-image: url('/diamond.png');
    .book {
        background-color: rgba(91, 161, 255, 0.3);

        &.color1 {
            background-color: rgba(222,137,69,0.3);
            .progress {
                background-color: rgba(222,137,69,1.0);
            }
        }
        &.color2 {
            background-color: rgba(231,61,95,0.3);
            .progress {
                background-color: rgba(231,61,95,1.0);
            }
        }
        &.color3 {
            background-color: rgba(132,151,199,0.3);
            .progress {
                background-color: rgba(132,151,199,1.0);
            }
        }
        &.color4 {
            background-color: rgba(200,192,91,0.3);
            .progress {
                background-color: rgba(200,192,91,1.0);
            }
        }
        &.color5 {
            background-color: rgba(174,159,184,0.3);
            .progress {
                background-color: rgba(174,159,184,1.0);
            }
        }
        &.color6 {
            background-color: rgba(233,191,64,0.3);
            .progress {
                background-color: rgba(233,191,64,1.0);
            }
        }
        &.color7 {
            background-color: rgba(128,202,195,0.3);
            .progress {
                background-color: rgba(128,202,195,1.0);
            }
        }
        
        overflow: hidden;

        .progress {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(91, 161, 255, 1.0);
            z-index: 0;
        }
        .content {
            z-index: 1;
        }
    }
}