<template name="readBook">
	<!-- sidebars -->
	<div class="ui sidebar top menuBar">
		<div class="ui menu">
			<a class="item" href="{{pathFor route="library"}}">
			    <i class="chevron left icon"></i>Library
			</a>
			
			<div class="text item">
			  	{{name}} | {{#with readingNow}}{{#with getChapterName }}{{ name }}{{/with}}{{/with}}
			</div>

			<div class="right menu">
				<a href="" class="active item progressButton"><i class="bar chart icon"></i></a>
				<a href="" class="item"><i class="list icon"></i></a>
				<a href="" class="item"><i class="setting icon"></i></a>
			</div>
		</div>
	</div>
	<div class="ui bottom sidebar chapterChart">
		<div class="ui fluid card"></div>
	</div>
	<div class="pusher readbook">
		{{#if readingNow}}
			<div class="rebook-page">
			{{#with readingNow}}
			{{> Template.dynamic template=getTemplate data=getContents }}
			{{/with}}		
			</div>
		{{else}}
			{{> titlePage}}
		{{/if}}
	</div>
</template>