<template name="readChapters">  
    <div class="column">
        <div class="ui center aligned header">
            <h1>{{name}}</h1>
        </div>
        <article id="{{_id}}">
          <div class="left fader"></div>
          <div class="right fader"></div>
            {{#each mainTrack}}
                {{#with resource }}
                  {{#if isText}}
                      {{#each paras contents}}
                          {{#markdown}}{{text}}{{/markdown}}
                      {{/each}}
                  {{/if}}
                {{/with}}
            {{/each}}
        </article>
    </div>

</template>
