<template name="readBook">
	<!-- sidebars -->
	<div class="ui sidebar top menuBar">
		<div class="ui large black inverted menu">
			<a class="item" href="{{pathFor route="library"}}">
			    <i class="chevron left icon"></i> Back to Library
			</a>
			
			<div class="right menu">
				<a class="item">
				  	{{name}} | {{#with readingNow}}{{#with getChapterName }}{{ name }}{{/with}}{{/with}}
				</a>
			</div>
		</div>
	</div>
	<div class="ui bottom sidebar chapterChart">
		<div class="ui fluid card"></div>
	</div>
	<div class="ui bottom sidebar bookControls">
		<div class="control">
			<a class="ui inverted statistic" href="">
				<div class="value">
					<i class="list icon"></i>
				</div>
				<div class="label">
					Table of Contents
				</div>
			</a>
		</div>
		<div class="control">
			<a class="ui inverted statistic" href="">
				<div class="value">
					<i class="setting icon"></i>
				</div>
				<div class="label">
					Settings
				</div>
			</a>
		</div>
		<div class="control">
			<a class="ui inverted statistic progressButton" href="">
				<div class="value">
					<i class="bar chart icon"></i>
				</div>
				<div class="label">
					Progress
				</div>
			</a>
		</div>
	</div>
	<div class="pusher readbook">
		{{#if readingNow}}
			{{#with readingNow}}
			{{> Template.dynamic template=getTemplate data=getContents }}
			{{/with}}		
		{{else}}
			{{> titlePage}}
		{{/if}}
	</div>
</template>