<template name="readCollections">
	<div class="rebook-collection">
		<div class="ui centered header collection">
            <h1>{{name}}</h1>
        </div>
        {{#with choice }}
            {{> Template.dynamic template=choice.template data=choice.data}}
        {{/with}}
        <div class="ui centered one column grid">
    		<div class="column {{#if allRead}}allRead{{/if}}">
		        <nav class="next">
		            <h2>choose next</h2>
		            <div class="ui fluid vertical menu">
		                {{#each contents}}
		                	{{#if isChapter}}
		                	{{#with getChapter _id}}
		                		<a class="item {{#if isRead}}disabled{{/if}}">{{name}}</a>
		                	{{/with}}
		                	{{else}}
		                		<a class="item {{#if isRead}}disabled{{/if}}">{{sequenceName}}</a>
		                	{{/if}}
		                {{/each}}
		            </div>
		        </nav>
		    </div>
        </div>
	</div>
</template>