<template name="shareQuote">
	<div class="ui small modal" id="shareModal">
		<i class="close icon"></i>
		<div class="header">
			Share this Quote
		</div>
		<div class="content">
			<div class="ui large image">
				<img src="http://placehold.it/440x220">
			</div>
			<div class="description">
				<div class="ui small form">
					<div class="field">
						<label>Add a message</label>
						<textarea></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="actions">
			<div class="ui black button">
				Nope
			</div>
			<div class="ui positive right labeled icon button">
				Tweet This
				<i class="twitter icon"></i>
			</div>
		</div>
	</div>
</template>