<template name="menu">
    <div class="ui inverted fixed top menu">
        <div class="item">
            <i class="left chevron icon"></i><i class="book icon"></i><i class="right chevron icon"></i> (re)book
        </div>
        <div class="right menu">
            <a class="item book"><i class="book icon"></i> Book</a>
            <a class="item collections">Collections</a>
            <a class="item sequences">Sequences</a>
            <a class="item chapters">Chapters</a>
            <a class="item resources">Resources</a>
        </div>
    </div>
</template>
