<template name="newBook">
	<div class="ui one column page grid">
		<div class="column">
			<h1 class="ui dividing header">Start a New Book</h1>
			<div class="ui fluid steps">
				<div class="active step">
					<i class="book icon"></i>
					<div class="content">
						<div class="title">Name Your Book</div>
					</div>
				</div>
				<div class="step">
					<i class="upload icon"></i>
					<div class="content">
						<div class="title">Add Content</div>
					</div>
				</div>
			</div>
			<div class="ui segment stepOne">
				<form class="ui form" id="nameBook">
					<div class="field">
						<label>Give your book a title:</label>
						<div class="ui action input">
							<input type="text"/>
							<div class="ui right labeled icon primary submit button">
								<i class="right arrow icon"></i> Next
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="ui segment stepTwo">
				<div class="ui two column divided grid">
					<div class="column">
						<h3>Upload text files (.txt, .md)</h3>
						<div class="ui blue message">
							<p>Every text file you upload will automatically be converted into its own Chapter. If this isn't what you want, you can split and combine them later.</p>
						</div>
						
						<form class="ui form" id="textUpload">
							<div class="field">
								<!-- <label for="txtFiles" class="ui icon button"><i class="file icon"></i>Choose files...</label> -->
								<input type="file" id="txtFiles" multiple/>
							</div>
						</form>
						<div class="ui celled list">
						{{#each textUploads}}
							<div class="item"><div class="content">{{name}}</div></div>
						{{/each}}
						</div>

					</div>
					<div class="column">
						<h3>Upload non-text media (audio, video, images)</h3>
						<div class="ui yellow message">
							<p>Media will be stored as Story Assets that you can add to any of your Chapters.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="ui hidden divider"></div>
				<a class="ui huge red button cancel">Cancel</a>
				<a class="ui huge green disabled button" href={{pathFor route="create.book" data=bookId}}>Done – Go to my book</a>
		</div>
	</div>
</template>