.menuPad{
	margin-top: 50px;
}

.bookStructure {
	position: relative;

	svg.scale {
		overflow: visible;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.axis {
			font-size: .75rem;
			path {
				stroke-width: 1px;
				fill: none;
				stroke: #000;
			}
			.tick {
				font-size: .65rem;
				line {
					stroke-width: 1px;
					fill: none;
					stroke: #000;

					&.grid {
						stroke: #c9c9c9;
					}
				}
			}
		}
	}

	.scrubber {
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: red;
		z-index: 10;
		opacity: 0.5;
		pointer-events: none;
	}

	.grid {
		margin-top: 20px;

		.row {
			padding: 0 !important;
			margin-bottom: -1px;

			.collection {
				background-color: rgba(255, 255, 255, 0.2);
				padding: 2px 6px;
				border: 1px solid black;

				.title {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					background-color: rgba(0, 0, 0, 0.5);
					z-index: 20;
					text-align: center;
					color: #fff;
					padding: 3px 0;
					pointer-events: none;
				}

				.grid {
					margin: 0;
				}
			}

			.content {
				border: 1px solid black;
				background-color: #fff;

				&.active {
					background-color: yellow;
				}
			}	
		}
	}
}

.previewArea {
	// position: absolute;
	// top: 0;
	height: 100%;
	overflow: auto;
	// width: 100%;
}